# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# folder
old/
dev/node_modules/
dev/public/img/
dev/dist
dev/dist-ssr
dev/public/plots/d3/
dev/public/fonts/
dev/public/old/
dev/public/D3/

# pages 
web_dubbois_stats.html

*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
