# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# folder
astro_new/node_modules/
astro_new/dist/
astro_new/
astro3/
old/
astro2/
dev/
docs/D3
dev/node_modules/
dev/src/assets
dev/_unused_pages
dev/docs

# files 
**/*.png
**/*.jpg


*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
