# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# folder
.old_projects
# astro3/
astro3/node_modules/
astro3/.vscode

# files 
# **/*.png
# **/*.jpg
astro3/ **/*.png
astro3/ **/*.jpg

*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
