<div class="item">
    <button class="menu-trigger" id="menu02">
        <span></span>
        <span></span>
        <span></span>
    </button>
</div>

<style>
    #menu02,
    #menu02 span {
        display: inline-block;
        box-sizing: border-box;
    }
    #menu02 {
        position: relative;
        width: 50px;
        height: 44px;
        background: none;
        border: none;
        appearance: none;
        cursor: pointer;
    }
    #menu02:focus:not(:focus-visible) {
        outline: none;
    }
    #menu02 span {
        position: absolute;
        width: 100%;
        height: 4px;
    }
    #menu02 span::before,
    #menu02 span::after {
        content: "";
        position: absolute;
        width: 51%;
        height: 4px;
        background: #fff;
        transition: 0.2s;
    }
    #menu02 span::before {
        left: 0;
        border-radius: 4px 0 0 4px;
    }
    #menu02 span::after {
        right: 0;
        border-radius: 0 4px 4px 0;
    }
    #menu02 span:nth-of-type(1) {
        top: 0;
        left: 0;
    }
    #menu02 span:nth-of-type(2) {
        top: 20px;
        left: 0;
    }
    #menu02 span:nth-of-type(3) {
        bottom: 0;
        left: 0;
    }
    #menu02.active span:nth-of-type(1)::before {
        transform: translate(4px, 11px) rotate(45deg);
    }
    #menu02.active span:nth-of-type(1)::after {
        transform: translate(-3px, 11px) rotate(-45deg);
    }
    #menu02.active span:nth-of-type(2)::before {
        transform: translateX(-75%);
        opacity: 0;
    }
    #menu02.active span:nth-of-type(2)::after {
        transform: translateX(75%);
        opacity: 0;
    }
    #menu02.active span:nth-of-type(3)::before {
        transform: translate(4px, -11px) rotate(-45deg);
    }
    #menu02.active span:nth-of-type(3)::after {
        transform: translate(-3px, -11px) rotate(45deg);
    }
</style>
<script>
    const menu02 = document.getElementById("menu02");
    menu02.addEventListener("click", () => {
        menu02.classList.toggle("active");
    });

    // const triggers = document.querySelectorAll(".menu-trigger"),
    //     activeClass = "active";
    // triggers.forEach((trigger) => {
    //     trigger.addEventListener("click", (e) => {
    //         e.currentTarget.classList.toggle(activeClass);
    //     });
    // });
</script>
