---
import Layout from "../layouts/Layout.astro";
import Article from "../components/Article.astro";
import { Code } from "astro:components";
import "../styles/global.css";
import "../styles/font.css";
import Heading from "../components/Heading.astro";
// import Article from "../components/Article.astro";

import FDC_wobble from "../components/DancingLetters/FDC_wobble.astro";
import FDC_flicker from "../components/DancingLetters/FDC_flicker.astro";
import FDC_disco from "../components/DancingLetters/FDC_disco.astro";
import FDC_disco2 from "../components/DancingLetters/FDC_disco2.astro";
import FDC_neon from "../components/DancingLetters/FDC_neon.astro";
import FDC_spinning from "../components/DancingLetters/FDC_spinning.astro";
import FDC_seventy from "../components/DancingLetters/FDC_seventy.astro";
import SlotMachine from "../components/DancingLetters/SlotMachine.astro";

import SVGDivider from "../components/Dividers/SVGDivider.astro";
---

<Layout title="Dancing Letters">
    <h1 class="text-4xl font-literata font-bold text-center mt-10 mb-10">
        <span class="dance">D</span>ancing Letters
    </h1>
    <div class="flex justify-center items-start mb-20">
        <Article>
            <p>
                When creating a website for Forró da Capita, I played with some
                ideas for an animated logo. Here are some of the CSS animations
                I pieced together.
            </p>
            <p>
                The main thing to know about CSS animations is that your CSS
                styles (font size, color, position, width, height, etc.) can
                vary and change animated. A keyframe allows you to define the
                stages of your animation. For example, three different colors
                that your element passes through, or two positions it should
                traverse.
            </p>
            <p>
                Once you have the keyframes the transition needs a duration in
                which the stages are reeled off. Additionally, the animation may
                be given a delay, a direction, an iteration/repetition, and a
                timing function.
            </p>
            <p>
                Have a look at the options at <a
                    href="https://www.w3schools.com/css/css3_animations.asp"
                    >w3schools</a
                >. For instance, check out <a
                    href="https://www.w3schools.com/css/css3_2dtransforms.asp"
                    >2D</a
                > and <a
                    href="https://www.w3schools.com/css/css3_3dtransforms.asp"
                    >3D</a
                > transforms, that allow you to rotate, scale, move (translate),
                and skew elements. Combine this with colors, and you already have
                ample possibilities.
            </p>
        </Article>
    </div>

    <!-- WOBBLE  -->
    <div id="wobble">
        <div
            class="grid grid-cols-1 md:grid-cols-3 w-full justify-between items-start gap-10 mt-15"
        >
            <div class="md:col-span-1">
                <FDC_wobble />
            </div>
            <div class="md:col-span-2 justify-center items-center">
                <Article>
                    For a haggish wobble, single letters are shifted up and
                    down, starting with a little lag one after another. For that
                    bubbling cauldron effect the letters are also bloated /
                    shrinked (<Code
                        code={`scale`}
                        lang="css"
                        theme="one-light"
                        inline
                    />) and rotated a little.
                </Article>
            </div>
        </div>
        <!-- WOBBLE CODE  -->
        <details class="w-full mt-2">
            <summary class="text-xl font-work mb-2 tracking-wide"
                >WOBBLE CODE</summary
            >
            <div class="w-full h-60 overflow-scroll resize-y rounded-md">
                <Code
                    class:list={["px-10 py-5"]}
                    lang="html"
                    theme="one-light"
                    wrap
                    code={`
<div class="wobble">
    <span>W</span>
    <span>O</span>
    <span>B</span>
    <span>B</span>
    <span>L</span>
    <span>E</span>
</div>

<style>
@font-face {
    font-family: "Oi";
    src: url("/fonts/HennyPenny-Regular.ttf") format("truetype");
    font-display: swap;
}

.wobble {
    font-family: "Oi";
    font-size: 3rem;
    letter-spacing: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.wobble span {
    display: inline-block;
    animation: wobble 1.6s infinite ease-in-out;
    transition: width 3s height 3s ease-in-out 3s;
    will-change: transform;
}

/* The keyframes for wobble */
@keyframes wobble {
    0%,
    100% { transform: translateY(0) rotate(0deg) scale(1); }
    20% { transform: translateY(-4px) rotate(-2deg) scale(1.01); }
    50% { transform: translateY(4px) rotate(2deg) scale(0.99); }
    80% { transform: translateY(-3px) rotate(-2deg) scale(1.03); }
}

/* Different delays for each letter */
.wobble span:nth-child(1) {
    animation-delay: 0s;
}
.wobble span:nth-child(2) {
    animation-delay: 0.1s;
}
.wobble span:nth-child(3) {
    animation-delay: 0.2s;
}
.wobble span:nth-child(4) {
    animation-delay: 0.3s;
}
.wobble span:nth-child(5) {
    animation-delay: 0.4s;
}
.wobble span:nth-child(6) {
    animation-delay: 0.5s;
}
</style>
            `}
                />
            </div>
        </details>
    </div>

    <hr class="my-10 border-gray-200 dark:border-gray-700" />

    <!-- DISCO -->
    <div id="disco">
        <div
            class="grid grid-cols-1 md:grid-cols-3 w-full justify-between items-start gap-10 mt-15"
        >
            <div class="md:col-span-1">
                <FDC_disco />
            </div>
            <div class="md:col-span-2 justify-center items-center">
                <Article>
                    <p>
                        Hover over the letters and each will shine in a disco
                        light. The glow is produced by stacking multiple
                        text-shadow layers with progressively larger blurs and
                        slight color variations around the text.
                    </p>
                    <p>
                        Text-shadow takes four values: <br />
                        <Code
                            code={`text-shadow: [horizontal-offset] [vertical-offset] [blur-radius] [color];`}
                            lang="css"
                            theme="one-light"
                            inline
                        />
                    </p>
                </Article>
            </div>
        </div>
        <!-- DISCO CODE  -->
        <details class="w-full mt-2">
            <summary class="text-xl font-work mb-2 tracking-wide"
                >DISCO CODE</summary
            >
            <div class="w-full h-60 overflow-scroll resize-y rounded-lg">
                <Code
                    class:list={["px-10 py-5"]}
                    lang="html"
                    theme="one-light"
                    wrap
                    code={`
    <div class="outer-container">
        <div class="inner-container">
            <div class="disco">
                <h1 class="pink_glow">D</h1>
                <h1 class="yellow_glow">i</h1>
                <h1 class="red_glow">s</h1>
                <h1 class="orange_glow">c</h1>
                <h1 class="green_glow">o</h1>
            </div>
            <h1 class="spacer">&nbsp;</h1>
            <div class="lights">
                <h1 class="darkorange_glow">L</h1>
                <h1 class="blue_glow">i</h1>
                <h1 class="violet_glow">g</h1>
                <h1 class="lightgreen_glow">h</h1>
                <h1 class="deepyellow_glow">t</h1>
                <h1 class="lightblue_glow">s</h1>
            </div>
        </div>
    </div>
    
    <style>
        @font-face {
            font-family: "Moonrocks";
            src: url("/fonts/RubikMoonrocks-Regular.ttf") format("truetype");
            font-display: swap;
        }
    
        /* For a dark background */
        .outer-container {
            position: relative;
            height: 270px;
            width: 400px;
            background-color: rgb(19, 19, 74);
        }
    
        /* inside the outer container we position the inner elemnts absolutely shifting them roughly in the middle */
        .inner-container {
            position: absolute;
            top: 60%;
            left: 42%;
            transform: translate(-50%, -50%);
        }
    
        /* we want the 'Lights' sit under 'Disco' and slightly shifted to the right (from the left) */
        .inner-container .lights {
            position: absolute;
            top: 30%;
            left: 15%;
        }
    
        h1 {
            font-family: "Moonrocks";
            font-size: 3.9rem;
            letter-spacing: 13px;
            margin: 0;
            color: #c7fdff;
            text-shadow: none;
            transition: all 0.5s ease; /* smoothening the glow a little*/
            cursor: default;
        }
    
        /* since we put the letters in single h1 tags they would appear vertically if untended, flex puts them horizontally.
    
        Rotation is could be applied if you want a some visual effect of acceleration. 
        */
        .disco,
        .lights {
            display: flex;
            rotate: -0deg;
        }
    
        /* space between disco and lights */
        .spacer {
            height: 120px;
        }
    
        /* Here we target the blur-radius and color properties of the text-shadow, you may simplify them and still get a decent effect.
        
        For exampe the greater the blur-radius wider is the glow, but the color is also more diluted. See the different glow in the orange 'c' from the other letters. The 'c' appears more crisp and has a smaller halo.*/
        .orange_glow:hover {
            text-shadow:
                0 0 5px #ffa500,
                0 0 15px #ffa500,
                0 0 20px #ffa500;
            /* 0 0 40px #ffa500, */
            /* 0 0 60px #f8bd50, */
            /* 0 0 10px #f4a749, */
            /* 0 0 98px #fdc85f; */
            color: #fff6a9;
        }
    
        .darkorange_glow:hover {
            text-shadow:
                0 0 5px #ff6a00,
                0 0 15px #ff8c00,
                0 0 20px #d76f06,
                0 0 40px #ffa500,
                0 0 60px #f8b250,
                0 0 10px #f48549,
                0 0 98px #fd9e5f;
            color: #ffda9b;
        }
    
        .yellow_glow:hover {
            text-shadow:
                0 0 5px #ffd900,
                0 0 15px #ffe100,
                0 0 20px #d7d006,
                0 0 40px #ffdd00,
                0 0 60px #f8df50,
                0 0 10px #f4e649,
                0 0 98px #fddd5f;
            color: #fffc9b;
        }
    
        .deepyellow_glow:hover {
            text-shadow:
                0 0 5px #ffd900,
                0 0 15px #ffc800,
                0 0 20px #ffe046,
                0 0 40px #ffdd00,
                0 0 60px #ffe346,
                0 0 10px #ffd84d,
                0 0 98px #ffd54b;
            color: #fffc9b;
        }
    
        .green_glow:hover {
            text-shadow:
                0 0 5px #109c15,
                0 0 15px #27aa39,
                0 0 20px #0ba708,
                0 0 40px #35a721,
                0 0 60px #16991a,
                0 0 10px #1cb035,
                0 0 98px #07b410;
            color: #aff2bb;
        }
    
        .lightgreen_glow:hover {
            z-index: 10;
            text-shadow:
                0 0 5px #46cc16,
                0 0 15px #81d978,
                0 0 20px #3fc50b,
                0 0 40px #6df249,
                0 0 60px #52e338,
                0 0 10px #20cb26,
                0 0 98px #4bec0b;
            color: #aff2b1;
        }
    
        .red_glow:hover {
            text-shadow:
                0 0 5px #ff5252,
                0 0 15px #ff0000,
                0 0 20px #c5400b,
                0 0 40px #f26049,
                0 0 60px #ff2a2a,
                0 0 10px #cb3a20,
                0 0 98px #ec0b0b;
            color: #ffc7c7;
        }
    
        .blue_glow:hover {
            text-shadow:
                0 0 5px #5852ff,
                0 0 15px #0037ff,
                0 0 20px #0b0ec5,
                0 0 40px #497cf2,
                0 0 60px #2a78ff,
                0 0 10px #2e20cb,
                0 0 98px #0bceec;
            color: #d3d9ff;
        }
    
        .pink_glow:hover {
            text-shadow:
                0 0 5px #ff52f3,
                0 0 15px #ff00d4,
                0 0 20px #c50baf,
                0 0 40px #f249ea,
                0 0 60px #ff2af8,
                0 0 10px #cb20b4,
                0 0 98px #ec0be1;
            color: #ffc7fa;
        }
    
        .violet_glow:hover {
            text-shadow:
                0 0 5px #d752ff,
                0 0 15px #bb00ff,
                0 0 20px #840bc5,
                0 0 40px #cd49f2,
                0 0 60px #cd2aff,
                0 0 10px #c020cb,
                0 0 98px #bb0bec;
            color: #f3c7ff;
        }
    
        .lightblue_glow:hover {
            text-shadow:
                0 0 5px #52ffeb,
                0 0 15px #00fff7,
                0 0 20px #08dee6,
                0 0 40px #49f2de,
                0 0 60px #2afffb,
                0 0 10px #20c8cb,
                0 0 98px #0bddec;
            color: #c7fdff;
        }
    </style>
    
                `}
                />
            </div>
        </details>
    </div>

    <hr class="my-10 border-gray-200 dark:border-gray-700" />

    <!--AUTO  DISCO -->
    <div id="auto-disco">
        <div
            class="grid grid-cols-1 md:grid-cols-3 w-full justify-between items-start gap-10 mt-15"
        >
            <div class="md:col-span-1">
                <FDC_disco2 />
            </div>
            <div class="md:col-span-2 justify-center items-center">
                <Article>
                    <p>
                        The hover glow from above is extended by a random flash
                        of letters. A JavaScript function randomly picks up to 4
                        letters and lets them glow. The hover glow still works
                        in parallel, go and hover a letter that is not yet
                        glowing.
                    </p>
                </Article>
            </div>
        </div>

        <!-- AUTO CODE  -->
        <details class="w-full mt-2">
            <summary class="text-xl font-work mb-2 tracking-wide"
                >AUTO CODE</summary
            >
            <div class="w-full h-60 overflow-scroll resize-y rounded-lg">
                <Code
                    class:list={["px-10 py-5"]}
                    lang="html"
                    theme="one-light"
                    wrap
                    code={`
    <div class="outer-container">
        <div class="inner-container">
            <div class="disco">
                <h1 class="pink_glow">D</h1>
                <h1 class="yellow_glow">i</h1>
                <h1 class="red_glow">s</h1>
                <h1 class="orange_glow">c</h1>
                <h1 class="green_glow">o</h1>
            </div>
            <h1 class="spacer">&nbsp;</h1>
            <div class="lights">
                <h1 class="darkorange_glow">L</h1>
                <h1 class="blue_glow">i</h1>
                <h1 class="violet_glow">g</h1>
                <h1 class="lightgreen_glow">h</h1>
                <h1 class="deepyellow_glow">t</h1>
                <h1 class="lightblue_glow">s</h1>
            </div>
        </div>
    </div>
    
    <style>
        @font-face {
            font-family: "Moonrocks";
            src: url("/fonts/RubikMoonrocks-Regular.ttf") format("truetype");
            font-display: swap;
        }
    
        .outer-container {
            position: relative;
            height: 270px;
            width: 400px;
            background-color: rgb(11, 7, 42);
        }
    
        .inner-container {
            position: absolute;
            top: 55%;
            left: 42%;
            transform: translate(-50%, -50%);
        }
    
        h1 {
            font-family: "Moonrocks";
            font-size: 4rem;
            letter-spacing: 15px;
            margin: 0;
            color: #e8fafa;
            text-shadow: none;
            transition: all 0.3s ease;
            cursor: default;
        }
    
        .disco,
        .lights {
            display: flex;
            rotate: -5deg;
        }
    
        .inner-container .lights {
            position: absolute;
            top: 30%;
            left: 15%;
        }
    
        .spacer {
            height: 100px;
        }
    
        /* Glow shared styles */
        [class$="_glow"].glow,
        [class$="_glow"]:hover {
            color: #fff;
        }
    
        /* Glow effect per color */
        .orange_glow.glow,
        .orange_glow:hover {
            text-shadow:
                0 0 5px #ffa500,
                0 0 15px #ffa500,
                0 0 20px #ffa500,
                0 0 40px #ffa500,
                0 0 60px #f8bd50,
                0 0 10px #f4a749,
                0 0 98px #fdc85f;
            color: #fff6a9;
        }
    
        .darkorange_glow.glow,
        .darkorange_glow:hover {
            text-shadow:
                0 0 5px #ff6a00,
                0 0 15px #ff8c00,
                0 0 20px #d76f06,
                0 0 40px #ffa500,
                0 0 60px #f8b250,
                0 0 10px #f48549,
                0 0 98px #fd9e5f;
            color: #ffda9b;
        }
    
        .yellow_glow.glow,
        .yellow_glow:hover {
            text-shadow:
                0 0 5px #ffd900,
                0 0 15px #ffe100,
                0 0 20px #d7d006,
                0 0 40px #ffdd00,
                0 0 60px #f8df50,
                0 0 10px #f4e649,
                0 0 98px #fddd5f;
            color: #fffc9b;
        }
    
        .deepyellow_glow.glow,
        .deepyellow_glow:hover {
            text-shadow:
                0 0 5px #ffd900,
                0 0 15px #ffc800,
                0 0 20px #ffe046,
                0 0 40px #ffdd00,
                0 0 60px #ffe346,
                0 0 10px #ffd84d,
                0 0 98px #ffd54b;
            color: #fffc9b;
        }
    
        .lightgreen_glow.glow,
        .lightgreen_glow:hover {
            text-shadow:
                0 0 5px #46cc16,
                0 0 15px #81d978,
                0 0 20px #3fc50b,
                0 0 40px #6df249,
                0 0 60px #52e338,
                0 0 10px #20cb26,
                0 0 98px #4bec0b;
            color: #aff2b1;
        }
    
        .green_glow.glow,
        .green_glow:hover {
        text-shadow:
            0 0 5px #116e14,
            0 0 15px #126c1e,
            0 0 20px #237f22,
            0 0 40px #35a721,
            0 0 60px #157a18,
            0 0 10px #1cb035,
            0 0 98px #07b410;
        color: #94e68e;
        }
    
        .red_glow.glow,
        .red_glow:hover {
            text-shadow:
                0 0 5px #ff5252,
                0 0 15px #ff0000,
                0 0 20px #c5400b,
                0 0 40px #f26049,
                0 0 60px #ff2a2a,
                0 0 10px #cb3a20,
                0 0 98px #ec0b0b;
            color: #ffc7c7;
        }
    
        .blue_glow.glow,
        .blue_glow:hover {
            text-shadow:
                0 0 5px #5852ff,
                0 0 15px #0037ff,
                0 0 20px #0b0ec5,
                0 0 40px #497cf2,
                0 0 60px #2a78ff,
                0 0 10px #2e20cb,
                0 0 98px #0bceec;
            color: #d3d9ff;
        }
    
        .pink_glow.glow,
        .pink_glow:hover {
            text-shadow:
                0 0 5px #ff52f3,
                0 0 15px #ff00d4,
                0 0 20px #c50baf,
                0 0 40px #f249ea,
                0 0 60px #ff2af8,
                0 0 10px #cb20b4,
                0 0 98px #ec0be1;
            color: #ffc7fa;
        }
    
        .violet_glow.glow,
        .violet_glow:hover {
            text-shadow:
                0 0 5px #d752ff,
                0 0 15px #bb00ff,
                0 0 20px #840bc5,
                0 0 40px #cd49f2,
                0 0 60px #cd2aff,
                0 0 10px #c020cb,
                0 0 98px #bb0bec;
            color: #f3c7ff;
        }
    
        .lightblue_glow.glow,
        .lightblue_glow:hover {
            text-shadow:
                0 0 5px #52ffeb,
                0 0 15px #00fff7,
                0 0 20px #08dee6,
                0 0 40px #49f2de,
                0 0 60px #2afffb,
                0 0 10px #20c8cb,
                0 0 98px #0bddec;
            color: #c7fdff;
        }
    </style>
    
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const letters = document.querySelectorAll(".disco h1, .lights h1");
    
            function glowRandomLetters() {
                const activeLetters = [];
    
                // Choose 1 to 4 random letters
                const count = Math.floor(Math.random() * 4) + 1;
    
                while (activeLetters.length < count) {
                    const letter =
                        letters[Math.floor(Math.random() * letters.length)];
                    if (!activeLetters.includes(letter)) activeLetters.push(letter);
                }
    
                // Apply glow
                activeLetters.forEach((el) => {
                    el.classList.add("glow");
                    setTimeout(
                        () => el.classList.remove("glow"),
                        1000 + Math.random() * 1000,
                    );
                });
    
                setTimeout(glowRandomLetters, 500 + Math.random() * 1000);
            }
    
            glowRandomLetters();
        });
    </script>
                `}
                />
            </div>
        </details>
    </div>

    <hr class="my-10 border-gray-200 dark:border-gray-700" />

    <!-- IGNITE NIGHT  -->
    <div id="ignite-night">
        <div
            class="grid grid-cols-1 md:grid-cols-3 w-full justify-between items-start gap-10 mt-15"
        >
            <div class="md:col-span-1">
                <FDC_neon />
            </div>
            <div class="md:col-span-2 justify-center items-center">
                <Article>
                    <p>
                        Good Lord, flickering lights are mesmerizing. Insects,
                        gamblers and other creatures of the night can tell you a
                        thing or two about it.
                    </p>
                    <p>
                        I've mixed three effects: glow, flickering and a
                        short-circuted blink. The glow runs through four colors
                        and each letter starts with a lag.
                    </p>
                    <p>
                        The flicker and the blink are essentially the same
                        thing, only that the latter is rather short. The
                        blinking also happens less frequently. You can achive
                        this by switching the the opacity on and off and cram
                        the effect at certain point of its duration.
                        <Code
                            class:list={["px-10 py-5"]}
                            lang="css"
                            theme="one-light"
                            wrap
                            code={`
    @keyframes short-circuit {
        0%, 92%, 94%, 99%, 100% { opacity: 1; }
        93%, 96%, 98% { opacity: 0; }
        }
            `}
                        />
                    </p>
                </Article>
            </div>
        </div>
        <!-- IGNITE CODE  -->
        <details class="w-full mt-2">
            <summary class="text-xl font-work mb-2 tracking-wide"
                >IGNITE CODE</summary
            >
            <div class="w-full h-60 overflow-scroll resize-y rounded-lg">
                <Code
                    class:list={["px-10 py-5"]}
                    lang="html"
                    theme="one-light"
                    wrap
                    code={`
    <div>
        <h1 class="pink_glow">D</h1>
        <h1 class="yellow_glow">i</h1>
        <h1 class="red_glow">s</h1>
        <h1 class="orange_glow">c</h1>
        <h1 class="lightblue_glow">o</h1>
        <h1 class="">&nbsp;</h1>
        <h1 class="darkorange_glow">L</h1>
        <h1 class="pink_glow">i</h1>
        <h1 class="violet_glow">g</h1>
        <h1 class="lightgreen_glow">h</h1>
        <h1 class="blue_glow">t</h1>
        <h1 class="deepyellow_glow">s</h1>
    </div>
    
    <style>
        @font-face {
            font-family: "Moo";
            src: url("/fonts/MooLahLah-Regular.ttf") format("truetype");
            font-display: swap;
        }
    
        div {
            /* horizontally align the letters */
            display: flex;
            }
    
        h1 {
            font-family: "Moo";
            font-size: 3rem;
            letter-spacing: 5px;
        }
    
        /* define different color variation for the glowing effect
         From the four text-shado properties we only manipulate blur-radius and color
         text-shadow: [horizontal-offset] [vertical-offset] [blur-radius] [color]; */
    
        .orange_glow:hover {
            text-shadow:
                0 0 5px #ffa500,
                0 0 15px #ffa500,
                0 0 20px #ffa500,
                0 0 40px #ffa500,
                0 0 60px #f8bd50,
                0 0 10px #f4a749,
                0 0 98px #fdc85f;
            color: #fff6a9;
        }
    
        .darkorange_glow:hover {
            text-shadow:
                0 0 5px #ff6a00,
                0 0 15px #ff8c00,
                0 0 20px #d76f06,
                0 0 40px #ffa500,
                0 0 60px #f8b250,
                0 0 10px #f48549,
                0 0 98px #fd9e5f;
            color: #ffda9b;
        }
    
        .yellow_glow:hover {
            text-shadow:
                0 0 5px #ffd900,
                0 0 15px #ffe100,
                0 0 20px #d7d006,
                0 0 40px #ffdd00,
                0 0 60px #f8df50,
                0 0 10px #f4e649,
                0 0 98px #fddd5f;
            color: #fffc9b;
        }
    
        .deepyellow_glow:hover {
            text-shadow:
                0 0 5px #ffd900,
                0 0 15px #ffc800,
                0 0 20px #ffe046,
                0 0 40px #ffdd00,
                0 0 60px #ffe346,
                0 0 10px #ffd84d,
                0 0 98px #ffd54b;
            color: #fffc9b;
        }
    
        .green_glow:hover {
            z-index: 10;
            text-shadow:
                0 0 5px #109c15,
                0 0 15px #27aa39,
                0 0 20px #0ba708,
                0 0 40px #35a721,
                0 0 60px #16991a,
                0 0 10px #1cb035,
                0 0 98px #07b410;
            color: #aff2bb;
        }
    
        .lightgreen_glow:hover {
            z-index: 10;
            text-shadow:
                0 0 5px #46cc16,
                0 0 15px #81d978,
                0 0 20px #3fc50b,
                0 0 40px #6df249,
                0 0 60px #52e338,
                0 0 10px #20cb26,
                0 0 98px #4bec0b;
            color: #aff2b1;
        }
    
        .red_glow:hover {
            z-index: 10;
            text-shadow:
                0 0 5px #ff5252,
                0 0 15px #ff0000,
                0 0 20px #c5400b,
                0 0 40px #f26049,
                0 0 60px #ff2a2a,
                0 0 10px #cb3a20,
                0 0 98px #ec0b0b;
            color: #ffc7c7;
        }
    
        .blue_glow:hover {
            z-index: 10;
            text-shadow:
                0 0 5px #5852ff,
                0 0 15px #0037ff,
                0 0 20px #0b0ec5,
                0 0 40px #497cf2,
                0 0 60px #2a78ff,
                0 0 10px #2e20cb,
                0 0 98px #0bceec;
            color: #d3d9ff;
        }
    
        .pink_glow:hover {
            z-index: 10;
            text-shadow:
                0 0 5px #ff52f3,
                0 0 15px #ff00d4,
                0 0 20px #c50baf,
                0 0 40px #f249ea,
                0 0 60px #ff2af8,
                0 0 10px #cb20b4,
                0 0 98px #ec0be1;
            color: #ffc7fa;
        }
    
        .violet_glow:hover {
            z-index: 10;
            text-shadow:
                0 0 5px #d752ff,
                0 0 15px #bb00ff,
                0 0 20px #840bc5,
                0 0 40px #cd49f2,
                0 0 60px #cd2aff,
                0 0 10px #c020cb,
                0 0 98px #bb0bec;
            color: #f3c7ff;
        }
    
        .lightblue_glow:hover {
            z-index: 10;
            text-shadow:
                0 0 5px #52ffeb,
                0 0 15px #00fff7,
                0 0 20px #08dee6,
                0 0 40px #49f2de,
                0 0 60px #2afffb,
                0 0 10px #20c8cb,
                0 0 98px #0bddec;
            color: #c7fdff;
        }
    </style>
    
                `}
                />
            </div>
        </details>
    </div>

    <hr class="my-10 border-gray-200 dark:border-gray-700" />

    <!-- SPINNER -->
    <div id="spin">
        <div
            class="grid grid-cols-1 md:grid-cols-3 w-full justify-between items-start gap-10 mt-15"
        >
            <div class="md:col-span-1">
                <FDC_spinning />
                <br />
                <!-- <SlotMachine/> -->
            </div>
            <div class="md:col-span-2 justify-center items-center">
                <Article>
                    <p>
                        Talking about gambling, Casions offer a host of
                        inspiration for swirling signs that bedazzle to suck you
                        dry.
                    </p>
                </Article>
            </div>
        </div>

        <!-- SPINNING CODE -->
        <details class="w-full mt-2">
            <summary class="text-xl font-work mb-2 tracking-wide"
                >SPIN CODE</summary
            >
            <div class="w-full h-60 overflow-scroll resize-y rounded-lg">
                <Code
                    class:list={["px-10 py-5"]}
                    lang="html"
                    theme="one-light"
                    wrap
                    code={`
     <div class="flex flex-row">
         <h1 class="glow spinning">S</h1>
         <h1 class="glow spinning_reverse">P</h1>
         <h1 class="glow spinning">I</h1>
         <h1 class="glow spinning_reverse">N</h1>
     </div>
     
     <style>
         @font-face {
             font-family: "CoffeeTin";
             src: url("/fonts/CoffeeTin.ttf") format("truetype");
             font-display: swap;
         }
         div {
             perspective: 1000px;
         }
     
         h1 {
             font-family: "CoffeeTin";
             font-size: 5rem;
             display: inline-block; /* always apply */
             transform-origin: center center;
             padding: 0px 8px;
             transition: all 0.3s ease;
         }
     
         .glow {
             text-shadow:
                 0 0 5px #e9a319,
                 0 0 15px #f5c45e,
                 0 0 20px #ffb22c,
                 0 0 40px #ff9d23,
                 0 0 10px #ffb200,
                 0 0 60px #eddc1a;
             color: #fff6a9;
         }
     
         .spinning:hover {
             position: relative;
             animation: spinning 8.4s cubic-bezier(0.15, 0.2, 0.25, 0.1);
             transform-origin: center center;
         }
     
         .spinning_reverse:hover {
             position: relative;
             animation: spinning_reverse 8.4s cubic-bezier(0.15, 0.2, 0.25, 0.1);
             transform-origin: center center;
         }
     
         .spinning:hover,
         .spinning_reverse:hover {
             transform-origin: center center;
         }
     
         @keyframes spinning {
             0%,
             100% {
                 animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
             }
             0% {
                 transform: rotateY(0deg);
             }
             50% {
                 transform: rotateY(1800deg);
                 animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
             }
             100% {
                 transform: rotateY(3600deg);
             }
         }
     
         @keyframes spinning_reverse {
             0%,
             100% {
                 animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
             }
             0% {
                 transform: rotateY(0deg);
             }
             50% {
                 transform: rotateY(-1800deg);
                 animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
             }
             100% {
                 transform: rotateY(-600deg);
             }
         }
     </style>
     
     
                 `}
                />
            </div>
        </details>
    </div>


    <!-- SLOT -->
    <div id="slot">
        <div
            class="grid grid-cols-1 md:grid-cols-3 w-full justify-between items-start gap-10 mt-15"
        >
            <div class="md:col-span-1">
                <!-- <SlotMachine /> -->
                <br />
                <!-- <SlotMachine/> -->
            </div>
            <div class="md:col-span-2 justify-center items-center">
                <Article>
                    <p>
                        That El Dorado shine is fine and dandy, but the Midas
                        touch is just as handy. Have a try at the wheel of luck
                        but not get stuck like those heliophilous critters.
                    </p>
                </Article>
            </div>
        </div>
        <!-- SLOT CODE -->
        <details class="w-full mt-2">
            <summary class="text-xl font-work mb-2 tracking-wide"
                >SLOT CODE</summary
            >
            <div class="w-full h-60 overflow-scroll resize-y rounded-lg">
                <Code
                    class:list={["px-10 py-5"]}
                    lang="html"
                    theme="one-light"
                    wrap
                    code={`
     <div class="flex flex-row">
         <h1 class="glow spinning">S</h1>
         <h1 class="glow spinning_reverse">P</h1>
         <h1 class="glow spinning">I</h1>
         <h1 class="glow spinning_reverse">N</h1>
     </div>
     
     <style>
         @font-face {
             font-family: "CoffeeTin";
             src: url("/fonts/CoffeeTin.ttf") format("truetype");
             font-display: swap;
         }
         div {
             perspective: 1000px;
         }
     
         h1 {
             font-family: "CoffeeTin";
             font-size: 5rem;
             display: inline-block; /* always apply */
             transform-origin: center center;
             padding: 0px 8px;
             transition: all 0.3s ease;
         }
     
         .glow {
             text-shadow:
                 0 0 5px #e9a319,
                 0 0 15px #f5c45e,
                 0 0 20px #ffb22c,
                 0 0 40px #ff9d23,
                 0 0 10px #ffb200,
                 0 0 60px #eddc1a;
             color: #fff6a9;
         }
     
         .spinning:hover {
             position: relative;
             animation: spinning 8.4s cubic-bezier(0.15, 0.2, 0.25, 0.1);
             transform-origin: center center;
         }
     
         .spinning_reverse:hover {
             position: relative;
             animation: spinning_reverse 8.4s cubic-bezier(0.15, 0.2, 0.25, 0.1);
             transform-origin: center center;
         }
     
         .spinning:hover,
         .spinning_reverse:hover {
             transform-origin: center center;
         }
     
         @keyframes spinning {
             0%,
             100% {
                 animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
             }
             0% {
                 transform: rotateY(0deg);
             }
             50% {
                 transform: rotateY(1800deg);
                 animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
             }
             100% {
                 transform: rotateY(3600deg);
             }
         }
     
         @keyframes spinning_reverse {
             0%,
             100% {
                 animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
             }
             0% {
                 transform: rotateY(0deg);
             }
             50% {
                 transform: rotateY(-1800deg);
                 animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
             }
             100% {
                 transform: rotateY(-600deg);
             }
         }
     </style>
     
     
                 `}
                />
            </div>
        </details>
    </div>

    <div class="flex flex-col gap-y-8 mt-20">
        <!-- <FDC_flicker /> -->

        <!-- <FDC_spinning /> -->
        <!-- <FDC_seventy /> -->
    </div>

    <style>
        /* Keyframes for the animation */
        @keyframes jump-spin {
            0% {
                color: #ff9d00;
                transform: translateY(0) rotate(0deg);
            }
            50% {
                color: #ff3300;
                transform: translateY(-30px) rotateY(360deg);
            }
            50% {
                color: #ae03b7;
                transform: translateY(-30px) rotateY(720deg);
            }
            75% {
                color: #ff009d;
                transform: translateY(0px) rotateY(720deg) rotate(340deg);
            }
            100% {
                color: #ff9d00;
                transform: translateY(0px) rotateY(720deg) rotate(360deg)
                    rotateX(360deg);
            }
        }

        /* Apply the animation to the "D" */
        .dance {
            display: inline-block; /* Required for transforms */
            animation: jump-spin 2s ease-in-out;
            animation-fill-mode: forwards;
        }
    </style>
</Layout>
