---
import "../styles/global.css";
import "../styles/font.css";
import Layout from "../layouts/Layout.astro";
import H1_Bebas from "../components/Heading.astro";
import Main from "../components/Main.astro";
---

<Layout title="Impressum">
  <Main>
    <article
    id=""
    class="w-3/5 max-w-none p-6 prose prose-lg prose-stone dark:prose-invert text-justify"
    >
    <H1_Bebas>Impressum</H1_Bebas>
      <div class="grid md:grid-cols-2 gap-2 justify-items-center">
        <div class="text-left text-xl">
          <p class="text-lg">Verantwortlicher:</p>
          <p class="font-semibold">Marco Zausch</p>
          <p class="text-lg">Services:</p>
          <p class="font-semibold">
            Business Analytics | Data Science <br />
          </p>
        </div>

        <div class="">
          <div class="flex items-center gap-2 text-left">
            <!-- Email Text -->
            <p id="verantwortlicher" class="m-0">Email:</p>

            <!-- Envelope Icon -->
            <a
              class="hover:text-indigo-700 dark:filter-white"
              id="mlink"
              href="#mlink"
            >
              <img
                src="/img/icons/envelope-solid.svg"
                class="w-5 h-5 inline-block align-middle"
                id="envelope"
              />
            </a>
          </div>
        </div>
      </div>
    </article>
  </Main>
</Layout>
