---
import "../styles/global.css";
import "../styles/font.css";
import Layout from "../layouts/Layout.astro";
import Heading from "../components/Heading.astro";
import ModelCard from "../components/ModelCard.astro";
import Image from "astro/components/Image.astro";
---

<Layout title="Visualizations">
    <!-- DESIGN  -->
    <Heading className="mt-20">DESIGN</Heading>
    <div class="grid grid-cols-1 md:grid-cols-12 gap-12">
        <div class="col-span-1 md:col-span-3 mr-2">
            <a href="/dancing_letters">
                <div class="relative w-full h-40">
                    <Image
                        src="/foto/dancing_letters2.png"
                        alt="Chart detail"
                        width="100"
                        height="100"
                        class="absolute inset-0 w-full h-full object-fit"
                    />
                </div>
                <div class="mt-3 px-1">
                    <h1
                        class="font-literata text-lg uppercase text-gray-600 dark:text-slate-400 tracking-wide font-semibold mb-1"
                    >
                        Dancing Letters
                    </h1>
                    <p>
                        CSS can do beautiful things, and letters are a bookworms first choice to learn this stuff. Here I collect some fine effects, along its code for you to steal.
                    </p>
                </div>
            </a>
        </div>
    </div>

    <!-- ECONOMIC INDICATORS  -->
    <Heading className="mt-20">Economic Indicators</Heading>
    <div class="grid grid-cols-1 md:grid-cols-12 gap-12">
        <div class="col-span-1 md:col-span-3 mr-2">
            <a href="/eco_footprint">
                <div class="relative w-full h-40">
                    <Image
                        src="/foto/ecological_footprint_detail.png"
                        alt="Chart detail"
                        width="100"
                        height="100"
                        class="absolute inset-0 w-full h-full object-cover"
                    />
                </div>
                <div class="mt-3 px-1">
                    <h1
                        class="font-literata text-lg uppercase text-gray-600 dark:text-slate-400 tracking-wide font-semibold mb-1"
                    >
                        Ecological Footprint
                    </h1>
                    <p>
                        Just two countries have high human development and a
                        sustainable lifestyle.
                    </p>
                </div>
            </a>
        </div>

        <div class="col-span-1 md:col-span-3 mr-2">
            <a href="/happy_and_sustainable">
                <div class="relative w-full h-40">
                    <!-- Consistent height -->
                    <!-- <img
                            src="/img/foto/happy&sustainable_detail.png"
                            alt=""
                            /> -->
                    <Image
                        src="/foto/happy&sustainable_detail.png"
                        alt="Chart detail"
                        width="100"
                        height="100"
                        class="absolute inset-0 w-full h-full object-cover"
                    />
                </div>

                <div class="mt-3 px-1">
                    <h1
                        class="font-literata text-lg uppercase text-gray-600 dark:text-slate-400 tracking-wide font-semibold mb-1"
                    >
                        Happy & Sustainable
                    </h1>
                    <p>
                        Happiness score, emissions and more in one big bubble
                        chart.
                    </p>
                </div>
            </a>
        </div>
    </div>

    <!-- MODEL GALLERY  -->
    <Heading className="mt-10">Model Gallery</Heading>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <ModelCard
            href="/model_gallery/toc_graph"
            title="TOC Graph"
            description="A graph view of the model gallery series. Models, theories and systems and their connections."
            tag="Systems"
            date="2024-03-15"
            hasGraph={true}
        />

        <div class="col-span-1 md:col-span-1 text-pretty">
            <a href="/model_gallery/toc_graph">
                <h1
                    class="font-literata text-lg uppercase text-gray-600 dark:text-slate-400 tracking-wide font-semibold mb-1"
                >
                    TOC Graph
                </h1>
                <p>
                    A graph view of the model gallery series. Models, theories
                    and systems and their connections.
                </p>
            </a>
        </div>
        <div class="col-span-1 md:col-span-1 text-pretty">
            <a href="/model_gallery/model">
                <h1
                    class="font-literata text-lg uppercase text-gray-600 dark:text-slate-400 tracking-wide font-semibold mb-1"
                >
                    Model
                </h1>
                <p>
                    What is a model anyway? About the merits and snares of
                    model-building.
                </p>
            </a>
        </div>

        <div class="col-span-1 md:col-span-1 text-pretty">
            <a href="/model_gallery/schelling_segregation">
                <h1
                    class="font-literata text-lg uppercase text-gray-600 dark:text-slate-400 tracking-wide font-semibold mb-1"
                >
                    Schelling's Segregation
                </h1>
                <p>
                    Simulation of individual decisons leading to emergend
                    segregation.
                </p>
            </a>
        </div>
        <div class="col-span-1 md:col-span-1 text-pretty">
            <a href="/model_gallery/linear_regression">
                <h1
                    class="font-literata text-lg uppercase text-gray-600 dark:text-slate-400 tracking-wide font-semibold mb-1"
                >
                    Linear Regression
                </h1>
                <p>
                    The mother of modelling. Constructs relationships between
                    one output and one or more input variables
                </p>
            </a>
        </div>
        <div class="col-span-1 md:col-span-1 text-pretty">
            <a href="/model_gallery/confusion_matrix">
                <h1
                    class="font-literata text-lg uppercase text-gray-600 dark:text-slate-400 tracking-wide font-semibold mb-1"
                >
                    Confusion Matrix
                </h1>
                <p>
                    Fill in your false and true positives/negatives and see
                    accuracy, precision, recall and more.
                </p>
            </a>
        </div>
        <div class="col-span-1 md:col-span-1 text-pretty">
            <a href="/model_gallery/logistic_growth">
                <h1
                    class="font-literata text-lg uppercase text-gray-600 dark:text-slate-400 tracking-wide font-semibold mb-1"
                >
                    Logistic Growth
                </h1>
                <p>
                    Inspired by Thomas Malthus model of population growth. Also
                    known as sigmoid curve in statistics.
                </p>
            </a>
        </div>
        <div class="col-span-1 md:col-span-1 text-pretty">
            <a href="/model_gallery/logistic_map">
                <h1
                    class="font-literata text-lg uppercase text-gray-600 dark:text-slate-400 tracking-wide font-semibold mb-1"
                >
                    Logistic Map
                </h1>
                <p class="text-wrap">
                    A simple modulation of the logistic growth model that
                    produces phenomena like convergence or chaotic oscillations.
                </p>
            </a>
        </div>
        <div class="col-span-1 md:col-span-1 text-pretty">
            <a href="/model_gallery/normal_distribution">
                <h1
                    class="font-literata text-lg uppercase text-gray-600 dark:text-slate-400 tracking-wide font-semibold mb-1"
                >
                    Normal Distribution
                </h1>
                <p class="text-wrap">Natures preferred distribution.</p>
            </a>
        </div>
        <div class="col-span-1 md:col-span-1 text-pretty">
            <a href="/model_gallery/supply_and_demand">
                <h1
                    class="font-literata text-lg uppercase text-gray-600 dark:text-slate-400 tracking-wide font-semibold mb-1"
                >
                    Supply and Demand
                </h1>
                <p class="text-wrap">
                    The cornerstone of neoclassical economics.
                </p>
            </a>
        </div>
        <!-- <div class="col-span-1 md:col-span-1 text-pretty">
                <a href="/model_gallery/corn_model">
                    <h1
                        class="font-literata text-lg uppercase text-gray-600 dark:text-slate-400 tracking-wide font-semibold mb-1">
                        Corn Model</h1>
                    <p class="text-wrap">Ricardo's three-factor economy.</p>
                </a>
            </div> -->
    </div>
</Layout>
