/* Inter Variable - Menu/UI */
@font-face {
  font-family: 'Work';
  src: url('/fonts/WorkSans-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work';
  src: url('/fonts/WorkSans-Italic-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Literata Variable - Reading/Body text with optical sizing */
@font-face {
  font-family: 'Literata';
  src: url('/fonts/Literata-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 200 900;
  font-stretch: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Literata';
  src: url('/fonts/Literata-Italic-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 200 900;
  font-stretch: 100;
  font-style: italic;
  font-display: swap;
}

/* Fira Code - code blocks */
@font-face {
  font-family: 'code';
  src: url('/fonts/FiraCodeNerdFont-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}