/* HIGHLIGHTS */
@font-face {
  font-family: 'Bebas';
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/Bebas.woff2') format('woff2');
}

/* MENU  */
@font-face {
  font-family: 'Work';
  src: url('/fonts/WorkSans-Light.ttf') format('truetype');
  display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Work';
  src: url('/fonts/WorkSans-Regular.ttf') format('truetype');
  display: swap;
  font-weight: 400;
  font-style: normal;
}

/* TEXT  */
@font-face {
  font-family: 'Literata';
  display: swap;
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/Literata-Light.ttf') format("truetype")
}

@font-face {
  font-family: 'Literata';
  display: swap;
  font-weight: 300;
  font-style: italic;
  src: url('/fonts/Literata-LightItalic.ttf') format("truetype")
}

@font-face {
  font-family: 'Literata';
  display: swap;
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Literata-Light.ttf') format("truetype")
}

@font-face {
  font-family: 'Literata';
  display: swap;
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/Literata-LightItalic.ttf') format("truetype")
}

@font-face {
  font-family: 'Literata';
  display: swap;
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/Literata-SemiBold.ttf') format("truetype")
}

@font-face {
  font-family: 'Bevan';
  src: url('/fonts/Bevan.woff2') format('woff');
}