
<div class="
container mx-auto flex flex-col mt-15 min-h-screen font-literata prose prose-stone prose-xl md:prose-xl leading-8 md:leading-9 dark:prose-invert prose-h1:font-bold prose-h1:text-5xl prose-h2:font-bold prose-h2:text-3xl prose-headings:text-center prose-p:my-4
  prose-a:text-blue-600 prose-img:rounded-xl prose-img:size-3/5 prose-img:mx-auto prose-img:my-0">
  <slot />
</div>