
<div class="
container mx-auto flex flex-col   mt-15 min-h-screen font-literata prose prose-stone prose-lg md:prose-xl leading-8 md:leading-10 dark:prose-invert prose-h1:font-bold prose-h1:text-5xl prose-headings:text-center
  prose-a:text-blue-600 prose-img:rounded-xl prose-img:size-3/5 prose-img:mx-auto prose-img:my-10">
  <slot />
</div>