@import "tailwindcss";
@import './font.css';
@plugin "@tailwindcss/typography";


/* Temporary disable KaTeX styles to isolate issues */
.katex {
    all: unset !important;
}

/* MENU */
.font-work {
    font-family: 'Work', sans-serif;
}

/* TEXT */
.font-literata {
    font-family: 'Literata', serif;
}

/* HIGHLIGHT  */
.font-bebas {
    font-family: 'Bebas', sans-serif;
}