---
import EmailLink from '../components/EmailLink.astro';
import Heading from '../components/Heading.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/font.css';
import '../styles/global.css';
---

<Layout title="Impressum">
  <div class="flex flex-col justify-center items-center font-semibold font-work text-2xl">
    <Heading id="impressum" className="my-10" text="Impressum" />
    <div class="flex flex-col gap-2 text-center justify-center items-center">
      <p>Marco Zausch</p>
      <EmailLink
        encodedEmail="ZWQub2V0c29wQGhjc3Vhem9jcmFt"
        label="Email"
        class="font-semibold font-work text-2xl"
      />
      <p>Business Analytics</p>
      <p>Data Science</p>
  </div>
</Layout>
