---
import EmailLink from '../components/EmailLink.astro';
import Heading from '../components/Heading.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/font.css';
import '../styles/global.css';
---

<Layout title="Impressum">
  <div class="flex flex-col justify-center items-center font-semibold font-work text-xl">
    <Heading id="impressum" className="my-10" text="Impressum" />
    <div class="flex flex-col gap-2 text-center font-normal justify-center items-center">
      <p>Marco Zausch</p>
      <EmailLink class="font-normal" label="Email" emailB64="bWFyY296YXVzY2hAcG9zdGVvLmRl" />
      <p>Business Analytics</p>
      <p>Data Science</p>
    </div>
  </div>
</Layout>
