---
import forroIcon from '../assets/images/forroIcon.png';
import Link from '../components/Link.astro';
import ProjectCard from '../components/ProjectCard.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/font.css';
import '../styles/global.css';
---

<style>
  .icon-medium {
    width: 4rem;
    height: 4rem;
  }
  .icon-large {
    width: 4.8rem;
    height: 4.8rem;
  }
</style>

<Layout title="Portfolio">
  <main
    class="mx-auto md:mx-[10.5rem] min-h-[80dvh] max-sm:px-5 flex justify-center items-center flex-col"
  >
    <div class="md:h-20"></div>

    <!-- TWITTER ANALYSIS -->
    <ProjectCard
      title="Congressional Tweeting"
      subtitle="Big data analysis of tweets from US congress members."
      link="https://twitter-analysis-six.vercel.app/"
      iconName="twitter-bird2"
      iconSize="large"
      techList={['Pyspark', 'Databricks', 'SQL']}
    >
      <span slot="description">
        Data analysis of tweets from US congress members between 2008-2017 to identify key topics
        and relationships, providing actionable insights for political strategists.
      </span>
    </ProjectCard>

    <!-- World Bank Commander -->
    <ProjectCard
      title="World Bank Commander"
      subtitle="Compare all world bank indicators on a 2x2 chart grid."
      link="https://world-bankcommander.onrender.com/"
      iconName="worldbank_logo"
      iconSize="medium"
      techList={['Python', 'Dash', 'Plotly']}
    >
      <span slot="description">
        I created a tool to compare World Bank indicators, enabling analysts to identify unexpected
        relationships. The idea was to have a clean overview of the different indicators avoiding
        the cluttered World Bank <Link
          href="https://databank.worldbank.org/indicator/NY.GDP.MKTP.KD.ZG/1ff4a498/Popular-Indicators"
          text="interface"
        />.
      </span>
    </ProjectCard>

    <!-- Forro Da Capita Website -->
    <ProjectCard
      title="Forró Da Capitá Website"
      subtitle="Webpage for Forró Da Capitá."
      link="https://forrodacapita.vercel.app/"
      icon={forroIcon}
      iconSize="large"
      techList={['Astro', 'DatoCMS', 'Supabase', 'FullCalendar']}
    >
      <span slot="description">
        I've built a website for Forró Da Capitá e.V. While a design playground for myself, every team member can add content through DatoCMS. I tried some CSS tricks: glowing logo & dynamic icons. Additionally there is a metacalendar combining event dates from several public calendars. And a guestbook will be reactivated once we deploy on our own server.
      </span>
    </ProjectCard>

    <!-- Tableau Dashboards -->
    <ProjectCard
      title="Tableau Dashboards"
      subtitle="Some of my data dashboard on Tableau Public."
      link="https://public.tableau.com/app/profile/marco.zausch8856/vizzes"
      iconName="tableau-software"
      iconSize="medium"
      techList={['Tableau']}
    >
      <span slot="description">
        Tableau is a BI tool that creates visually appealing and informative dashboards. Here are my
        public <Link
          href="https://public.tableau.com/app/profile/marco.zausch8856/vizzes"
          text="dashboards"
        />
      </span>.
    </ProjectCard>

  </main>
</Layout>
