---
import Layout from '@layouts/Layout.astro';
import "@styles/global.css";
import "@styles/eco_footprint.css";
---

<Layout>

    <div class="md:h-5"></div>

    <!-- D3 Chart  -->
    <!-- <div class="mt-10 flex flex-col items-center text-center canva"></div> -->
    <h1 class="font-literata flex flex-col items-center text-center text-4xl font-bold">Ecological Footprint</h1>
    <h1 class="my-2 font-literata flex flex-col items-center text-center text-lg">60% of the world's population lives
        unsustainably.</h1>

    <div class="-mt-8 flex justify-center items-start gap-x-4">
        <div id="eco_graph" class="flex justify-center"></div>
    </div>

    <script type="module">
        import { EcoChart } from './src/scripts/eco_footprint.js';
        document.addEventListener('DOMContentLoaded', () => {
            EcoChart("#eco_graph", "/data/footprint.csv");
        });
    </script>


</Layout>