---
import { twMerge } from 'tailwind-merge';
const { id, text, className = '' } = Astro.props;

// Base classes that are always applied
const baseClasses = 'relative items-center py-30';

// Merge with any custom classes passed in
const mergedClasses = twMerge(baseClasses, className);
---

<div id={id} class={mergedClasses}>
  <div class="flex-grow border-t border-gray-400"></div>
  <span class="flex-shrink mx-4 text-secondary">{text}</span>
  <div class="flex-grow border-t border-gray-400"></div>
</div>
