---
import { twMerge } from "tailwind-merge";

interface Props {
    text: string;
    className?: string;
    id?: string;
}

const { text, className = "", id } = Astro.props;

// Base classes that are always applied
const base = "flex relative items-center";

// Merge with any custom classes passed in
const merged = twMerge(base, className);
---

<div id={id} class={merged}>
    <div class="flex-grow border-t border-gray-400"></div>
    <span class="flex-shrink mx-4 text-gray-400">{text}</span>
    <div class="flex-grow border-t border-gray-400"></div>
</div>
