---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import "../styles/font.css";
import Main from "../components/Main.astro";
---

<Layout>
    <Main>
        <!-- TWITTER ANALYSIS -->
        <div class="container mx-auto md:max-w-4xl text-xl w-full box-border">
            <a href="https://twitter-analysis-six.vercel.app/" target="_blank">
                <!-- Title -->
                <h1
                    class="text-3xl md:text-4xl font-bebas font-semibold my-4 tracking-[5px] text-center"
                >
                    Twitter Analysis
                </h1>

                <!-- Subtitle -->
                <p class="font-semibold leading-8 text-center py-4">
                    Big data analysis of tweets from US congress members.
                </p>
            </a>

            <!-- Text & Image -->
            <div class="text-pretty leading-8 flex items-start space-x-8">
                <!-- Text -->
                <div class="flex-1 box-border">
                    <p class="">
                        I took the task and data from the SQL for Data Science
                        course on
                        <a
                            href="https://www.coursera.org/learn/sql-data-science-capstone?specialization=learn-sql-basics-data-science"
                            class="text-blue-800"
                            target="_blank"
                        >
                            Coursera.<svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 22 22"
                                width="1.1em"
                                height="1.1em"
                                fill="currentColor"
                                stroke-width="0.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="inline-block align-text-bottom -translate-y-[0.35em]"
                            >
                                <path
                                    d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"
                                ></path>
                                <path
                                    d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"
                                ></path>
                            </svg>
                        </a>
                        The imaginary customer wants an analysis of the 2008-2017
                        congressional tweets to understand key topics, members, and
                        relationships within Congress.
                    </p>
                </div>

                <!-- Image -->
                <div class="hidden md:block w-14 h-14 box-border">
                    <img
                        class="w-full h-full fill-current dark:filter-white"
                        src="/img/icons/twitter-bird2.svg"
                        alt="Twitter Bird Icon"
                    />
                </div>
            </div>

            <!-- Footer Text -->
            <p
                class="flex text-gray-500 dark:text-gray-400 font-semibold pt-4 justify-center tracking-wider text-lg"
            >
                Pyspark • Databricks • SQL
            </p>
        </div>

        <!-- Horizontal Ruler -->
        <div class="flex justify-center my-10">
            <hr class="w-1/2 border-gray-400" />
        </div>

        {
            /* 
        <!-- MODEL GALLERY -->
        <div class="container mx-auto md:max-w-4xl text-xl w-full box-border">
            <a href="/model_gallery/toc_graph">
                <!-- Title -->
                <h1
                    class="text-3xl md:text-4xl font-bebas font-semibold my-4 tracking-[5px] text-center"
                >
                    Model Explorer
                </h1>

                <!-- Subtitle -->
                <p class="font-semibold leading-8 text-center py-4">
                    Interactive graphs and short introductions.
                </p>
            </a>

            <!-- Text & Image -->
            <div class="text-pretty leading-8 flex items-start space-x-8">
                <!-- Text -->
                <div class="flex-1 box-border">
                    <p class="text-pretty">
                        An ecclectic collection of models, theories and systems
                        that stirred my curiosity. With animated D3.js graph and
                        other visualizations.
                    </p>
                </div>
                <!-- Image -->
                <div class="hidden md:block w-14 h-14 box-border">
                    <img
                        class="w-full h-full"
                        src="/img/icons/d3.svg"
                        alt="D3 Icon"
                    />
                </div>
            </div>

            <!-- Footer Text -->
            <p
                class="flex text-gray-500 dark:text-gray-400 font-semibold pt-4 justify-center tracking-wider text-lg"
            >
                D3 • JavaScript • Css
            </p>
        </div>

        <!-- Horizontal Ruler -->
        <div class="flex justify-center my-10">
            <hr class="w-1/2 border-gray-400" />
        </div>
        */
        }

        <!-- World Bank Commander -->
        <div class="container mx-auto md:max-w-4xl text-xl w-full box-border">
            <a href="https://world-bankcommander.onrender.com/">
                <!-- Title -->
                <h1
                    class="text-3xl md:text-4xl font-bebas font-semibold my-4 tracking-[5px] text-center"
                >
                    World Bank Commander
                </h1>

                <!-- Subtitle -->
                <p class="font-semibold leading-8 text-center py-4">
                    Compare all world bank indicators on a 2x2 chart grid.
                </p>
            </a>

            <!-- Text & Image -->
            <div class="text-pretty leading-8 flex items-start space-x-8">
                <!-- Text -->
                <div class="flex-1 box-border">
                    <p class="text-pretty">
                        The idea was to have a clean overview of the different
                        indicators to comapare and spot unexpected
                        relationships. Since the world bank's <a
                            href="https://databank.worldbank.org/indicator/NY.GDP.MKTP.KD.ZG/1ff4a498/Popular-Indicators"
                            class="text-blue-800"
                            target="_blank"
                            >interface<svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 22 22"
                                width="1.1em"
                                height="1.1em"
                                fill="currentColor"
                                stroke-width="0.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="inline-block align-text-bottom -translate-y-[0.35em]"
                            >
                                <path
                                    d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"
                                ></path>
                                <path
                                    d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"
                                ></path>
                            </svg></a
                        >
                        is very cumbersome and buggy I wanted something simple.

                        <p>Happy relationship hunting!</p>
                    </p>
                </div>

                <!-- Image -->
                <div class="hidden md:block w-14 h-14 box-border">
                    <img
                        class="w-full h-full"
                        src="/img/icons/worldbank_logo.svg"
                        alt="wb icon"
                        loading="lazy"
                    />
                </div>
            </div>

            <!-- Footer Text -->
            <p
                class="flex text-gray-500 dark:text-gray-400 font-semibold pt-4 justify-center tracking-wider text-lg"
            >
                Dash • Python • Plotly
            </p>
        </div>

        <!-- Horizontal Ruler -->
        <div class="flex justify-center my-10">
            <hr class="w-1/2 border-gray-400" />
        </div>

        <!-- World Bank Commander -->
        <div class="container mx-auto md:max-w-4xl text-xl w-full box-border">
            <a href="https://world-bankcommander.onrender.com/">
                <!-- Title -->
                <h1
                    class="text-3xl md:text-4xl font-bebas font-semibold my-4 tracking-[5px] text-center"
                >
                    Tableau Dashboards
                </h1>

                <!-- Subtitle -->
                <p class="font-semibold leading-8 text-center py-4">
                    Some of my data dashboard on Tableau Public.
                </p>
            </a>

            <!-- Text & Image -->
            <div class="text-pretty leading-8 flex items-start space-x-8">
                <!-- Text -->
                <div class="flex-1 box-border">
                    <p class="text-pretty">
                        Tableau is a Business Intelligence software but with a
                        nicer look than Power BI for example. Check out my public dashboards <a
                            href="https://public.tableau.com/app/profile/marco.zausch8856/vizzes"
                            class="text-blue-800"
                            target="_blank">here</a
                        >.
                    </p>
                </div>

                <!-- Image -->
                <div class="hidden md:block w-14 h-14 box-border">
                    <img
                        class="w-full h-full"
                        src="/img/icons/tableau-software.svg"
                        alt="tableau software icon"
                        loading="lazy"
                    />
                </div>
            </div>

            <!-- Footer Text -->
            <p
                class="flex text-gray-500 dark:text-gray-400 font-semibold pt-4 justify-center tracking-wider text-lg"
            >
                Tableau • Data Analysis
            </p>
        </div>

    </Main>

    <!-- Horizontal Ruler -->
    <!-- <div class="flex justify-center my-10">
            <hr class="w-1/2 border-gray-400" />
        </div> -->
    {
        /*
           <!-- VISUALISATIONS -->
        <div class="container mx-auto md:max-w-4xl text-xl w-full box-border">
            <a href="/overview_viz">
                <!-- Title -->
                <h1
                    class="text-3xl md:text-4xl font-bebas font-semibold my-4 tracking-[5px] text-center"
                >
                    Visualizations
                </h1>

                <!-- Subtitle -->
                <p class="font-semibold leading-8 text-center py-4">
                    Data Driven Documents (D3) visualizations.
                </p>
            </a>

            
            <!-- Text & Image -->
            <div class="text-pretty leading-8 flex items-start space-x-8">
                <!-- Text -->
                <div class="flex-1 box-border">
                    <p class="text-pretty">
                        There's a ton of visualizations libraries but most of
                        them leave much to be desired. Eventually I had to learn
                        D3 since it gives me the creative freedom to customize
                        like hell. Come visit my little delicatessen shop of
                        statisical eye-candy.
                    </p>
                </div>
                <!-- Image -->
                <div class="hidden md:block w-14 h-14 box-border">
                    <img
                        class="w-full h-full"
                        src="/img/icons/d3.svg"
                        alt="D3 Icon"
                        loading="lazy"
                    />
                </div>
            </div>

            <!-- Footer Text -->
            <p
                class="flex text-gray-500 dark:text-gray-400 font-semibold pt-4 justify-center tracking-wider text-lg"
            >
                D3 • JavaScript • Pandas
            </p>
        </div>
        */
    }
</Layout>
