---
import Layout from "@layouts/Layout.astro";
import "@styles/global.css";
import Markdown from "@components/Markdown.astro";
import Drawer from "@components/Drawer.astro";
import Content from "./markdown/model.mdx";
import Main from "@/components/Main.astro";

const { frontmatter } = await import("./markdown/model.mdx");
const { title } = frontmatter;
---

<Layout>
    <Drawer />
    <Main>
        <Markdown title="{title}">
            <Content />
        </Markdown>
    </Main>
</Layout>
