/* HIGHLIGHTS */
@font-face {
  font-family: 'Bebas';
  font-weight: normal;
  font-style: normal;
  src: url('../assets/fonts/Bebas.woff2') format('woff2');
}

/* MENU  */
@font-face {
  font-family: 'Work';
  src: url('../assets/fonts/WorkSans-Light.ttf') format('ttf');
}

 /* TEXT  */
@font-face{
  font-family:'Literata';
  display:swap;
  font-weight:300;
  font-style:normal;
  src:url('../assets/fonts/Literata-Light.ttf') format("truetype")
}

@font-face{
  font-family:'Literata';
  display:swap;
  font-weight:300;
  font-style:italic;
  src:url('../assets/fonts/Literata-LightItalic.ttf') format("truetype")
}

@font-face{
  font-family:'Literata';
  display:swap;
  font-weight:400;
  font-style:normal;
  src:url('../assets/fonts/Literata-Light.ttf') format("truetype")
}

@font-face{
  font-family:'Literata';
  display:swap;
  font-weight:400;
  font-style:italic;
  src:url('../assets/fonts/Literata-LightItalic.ttf') format("truetype")
}

@font-face{
  font-family:'Literata';
  display:swap;
  font-weight:600;
  font-style:normal;
  src:url('../assets/fonts/Literata-SemiBold.ttf') format("truetype")
}

/* Chomsky */
@font-face {
  font-family: 'Chomsky';
  src: url('../assets/fonts/Chomsky.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bevan';
  src: url('../assets/fonts/Bevan.woff2') format('woff');
}