---
import { twMerge } from 'tailwind-merge'

interface Props {
  className?: string
  id?: string
}

const { id, className = '' } = Astro.props

// Base styles that are always applied
const baseClasses = `group h-auto hover:scale-110 origin-center transition-all duration-900`

// Merge with any custom classes
const mergedClasses = twMerge(baseClasses, className)
---

<div id={id} class={mergedClasses}>
  <a href="https://maps.app.goo.gl/QPQKKK7im9AfE2rz8" target="_blank">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xml:space="preserve"
      viewBox="0 -2 23 40"
      transform="translate(0 -5)"
    >
      <g class="shake-vertical"
        ><path
          fill="#34a853"
          d="M7.258 17.202a23 23 0 0 1 1.83 2.698c.466.885.66 1.484 1.002 2.55.209.59.398.765.804.765.443 0 .644-.299.799-.761.322-1.007.575-1.775.974-2.501.783-1.402 1.756-2.647 2.712-3.844.259-.34 1.932-2.313 2.685-3.87 0 0 .926-1.71.926-4.1 0-2.234-.913-3.784-.913-3.784l-2.629.704-1.596 4.204-.395.58-.079.105-.105.132-.184.21-.264.263-1.421 1.158-3.555 2.052z"
        ></path><path
          fill="#fbbc04"
          d="M3.59 11.952c.867 1.98 2.54 3.722 3.672 5.251l6.01-7.12s-.846 1.107-2.382 1.107A3.08 3.08 0 0 1 7.796 8.1c0-1.18.711-1.993.711-1.993l-4.08 1.094z"
        ></path><path
          fill="#4285f4"
          d="M13.34.366c1.997.643 3.705 1.995 4.739 3.987l-4.804 5.725s.71-.826.71-2c0-1.763-1.484-3.08-3.088-3.08-1.516 0-2.387 1.105-2.387 1.105V2.497z"
        ></path><path
          fill="#1a73e8"
          d="M4.691 2.895C5.883 1.468 7.981 0 10.874 0c1.404 0 2.461.369 2.461.369l-4.83 5.738H5.083Z"
        ></path><path
          fill="#ea4335"
          d="M3.59 11.952s-.798-1.563-.798-3.827c0-2.14.832-4.01 1.899-5.23l3.817 3.212z"
        ></path></g
      >
      <path
        fill="currentColor"
        class="group-hover:fill-accent transition-colors duration-900 origin-center"
        d="m16.639 21.31-1.02 1.918 4.993-.816c-1.008-.505-2.372-.867-3.973-1.101m-12.862.418C1.465 22.339 0 23.338 0 24.822a2.2 2.2 0 0 0 .205.925l8.013-1.31zm18.525 2.228L11.15 25.774l2.94 3.346c4.83-.432 8.4-1.975 8.4-4.298 0-.31-.067-.597-.188-.865M9.265 26.088 1.73 27.32c1.992 1.233 5.507 1.928 9.515 1.928.243 0 .48-.007.72-.012z"
      ></path></svg
    >
  </a>
</div>

<style>
  @keyframes shake-vertical {
    0%,
    100% {
      transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
      transform: translateY(-1.5px);
    }
    20%,
    40%,
    60% {
      transform: translateY(1.5px);
    }
    80% {
      transform: translateY(1px);
    }
    90% {
      transform: translateY(-1px);
    }
  }

  .group:hover .shake-vertical {
    animation: shake-vertical 5s ease-in-out 0s infinite normal none;
  }
</style>
