import EcoChart from "../../../components/Charts/EcoChart";
import Heading from "../../../components/Heading.astro";
import Markdown from "../../../components/Markdown.astro";
import Layout from "../../../layouts/Layout.astro";
import "../../../styles/font.css";
import "../../../styles/global.css";
const csvFilePath = "/data/footprint_clean_2019.csv";

// Content
import components from "../../../components/mdxComponents"; // for Links
import { Content } from "../../../content/visualizations/eco_footprint.mdx";
---

<Layout title="Ecological Footprint">
    <div class="md:h-5"></div>

    <Heading className="font-literata mt-0 mb-0 font-bold"
        text="Ecological Footprint 2019"/>
    
    <Heading className="font-literata text-xl my-3"
        text="60% of the world's population lives unsustainably."/>

    <div class="mt-4 flex justify-center items-start gap-x-4">
        <EcoChart client:load csvPath={csvFilePath} />
    </div>

    <Markdown>
        <Content components={components} />
    </Markdown>
</Layout>
