---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Flourish">
  <h1>Flourish</h1>
  <div class="flex flex-row gap-4 w-full">
    <div class="w-full flourish-embed flourish-chart" data-src="visualisation/9654060">
      <script src="https://public.flourish.studio/resources/embed.js"></script>
      <!-- <noscript>
      <img
        src="https://public.flourish.studio/visualisation/9654060/thumbnail"
        width="100%"
        alt="chart visualization"
      /></noscript
    >
    </noscript> -->
    </div>
    <div class="w-full flourish-embed flourish-chart" data-src="visualisation/9449369">
      <script src="https://public.flourish.studio/resources/embed.js"></script>
      <!-- <noscript
      >
      <img
        src="https://public.flourish.studio/visualisation/9449369/thumbnail"
        width="100%"
        alt="chart visualization"
      /></noscript
    > -->
    </div>
  </div>
</Layout>
