---
import HappyChart from "../../components/Charts/HappyChart";
import Heading from "../../components/Heading.astro";
import Layout from "../../layouts/Layout.astro";
import "../../styles/font.css";
import "../../styles/global.css";
const csvPath = "/data/happy_sdg_hdi_co2_clean.csv";
---

<Layout title="Happiness Scores">
    <div class="md:h-5"></div>
    
    <Heading
        className="font-literata mb-0 mt-0 font-bold"
        text="Happy & Sustainable" />

    <div class="mt-2 flex justify-center items-start gap-x-4">
        <HappyChart client:load csvPath={csvPath} />
    </div>

    <main class="mt-20 flex justify-center items-center">
        <article
            id="article"
            class="w-5/6 px-1 font-literata md:w-1/2 max-w-full prose md:prose-xl prose-stone text-pretty leading-10 dark:prose-invert"
        >
            Data:<br /><br />
            Helliwell, J., Layard, R., & Sachs, J. (2019). World Happiness Report
            2019, New York: Sustainable Development Solutions <br /><br />
            Helliwell, John F., Richard Layard, and Jeffrey Sachs, eds. 2015. World
            Happiness Report 2015. New York: Sustainable Development Solutions Network.
        </article>
    </main>
</Layout>
