---
// ArticleLayout.astro
import TableOfContents from "../components/TOC.astro";
import Layout from "./Layout.astro";

const { frontmatter, headings } = Astro.props;
---

<Layout title={frontmatter.title}>
    <h1>{frontmatter.title}</h1>
    <TableOfContents headings={headings} />
    <article>
        <slot />
    </article>
</Layout>
